{% load static %}
<header>
  <style>
    .outer {
      text-align: center;
    }
    .active a {
      color: white;
    }
    .size {
      font-size: 38px;
    }
    child {
      line-height: 200px;
    }
  </style>
  <div class="outer active size" style="font-family: sans-serif;">
    <a class="navbar-brand" style="text-decoration: none;" href="{% url 'Home:index' %}">
      <img src="{% static 'img.png' %}" width="70" height="70">
      <b>MegaSoc Parser</b>
    </a>    
  </div>
</header>